# Dependencies (kalau nanti pakai npm)
node_modules/
dist/
build/

# Environment variables
.env
.env.local

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Deployment artifacts (Netlify/Vercel)
.netlify
.vercel

# Kalau nanti pakai build tool
package-lock.json
yarn.lock
